p {

    font-size: 120%;
  
    color: dimgray;
  
  }
.md-button.btn-dark.md-raised:not([disabled]):hover {
    background-color: black;
}

.md-button.btn-dark.md-raised:not([disabled]) {
  background-color: black;
  color: white;
}