<html ng-app="smart-box">

<head>
    <title>Smart Box Admin</title>
    <link rel="stylesheet" type="text/css" href="all.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <script src="all.js"></script>
    <script src="/js/app.js"></script>
</head>

<body ng-controller="AdminController">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Smart Box</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xl-7">

                <div style="margin-top: 15px;" class="row">
                    <div class="col-12">
                        <h1>Admin</h1>
                    </div>
                </div>
                <div style="margin-top: 15px;">
                    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,50]}"
                        mdt-row-paginator="userCallback(page, pageSize)"
                        mdt-row-paginator-error-message="Error happened during loading nutritions." mdt-row="{
                                'table-row-id-key': '_id',
                                'column-keys': [
                                    'username',
                                    'role',
                                    'RFID.RFID',
                                    'save',
                                    'delete'
                                ],
                            }">
                        <mdt-header-row>
                            <mdt-column align-rule="left">Username</mdt-column>
                            <mdt-column align-rule="right">Role</mdt-column>
                            <mdt-column align-rule="right">RFID</mdt-column>
                            <mdt-column align-rule="right">Save</mdt-column>
                            <mdt-column align-rule="right">Delete</mdt-column>
                        </mdt-header-row>
                        <mdt-custom-cell html-content="true" column-key="RFID.RFID">
                            <input id="{{rowId}}" value="{{value}}">
                        </mdt-custom-cell>
                        <mdt-custom-cell column-key="save">
                            <button style="margin-right: 0px;" ng-click="clientScope.showConfirmSave(rowId)"
                                class="md-button md-raised md-primary">Save</button>
                        </mdt-custom-cell>
                        <mdt-custom-cell column-key="delete">
                            <button style="margin-right: 0px;" ng-click="clientScope.showConfirmDeleteUser(rowId)"
                                class="md-button md-raised md-primary">Delete</button>
                        </mdt-custom-cell>
                    </mdt-table>
                </div>
                <div style="margin-top: 15px;">
                    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,50]}"
                        mdt-row-paginator="rfidCallback(page, pageSize)"
                        mdt-row-paginator-error-message="Error happened during loading nutritions." mdt-row="{
                                        'table-row-id-key': '_id',
                                        'column-keys': [
                                            'RFID',
                                            'created_at',
                                            'delete'
                                        ],
                                    }">
                        <mdt-header-row>
                            <mdt-column align-rule="left">RFID</mdt-column>
                            <mdt-column align-rule="right">Created at</mdt-column>
                            <mdt-column align-rule="right">Delete</mdt-column>
                        </mdt-header-row>
                        <mdt-custom-cell column-key="delete">
                            <button style="margin-right: 0px;" ng-click="clientScope.showConfirmDeleteRFID(rowId)"
                                class="md-button md-raised md-primary">Delete</button>
                        </mdt-custom-cell>

                    </mdt-table>
                </div>
            </div>
            <div style="margin-top: 15px;" class="col-12 col-xl-5">
                <h1>Create user:</h1>
                <form name="createUserForm" style="margin: 0 auto;">
                    <md-input-container style="width: 95%;margin-left: 15px;margin-right: 15px;">
                        <label>Username</label>
                        <input type="text" id="username" required minlength="10" maxlength="100"
                            ng-pattern="/^.+@.+\..+$/" name="username" size="40" ng-model="user.email">
                        <div ng-messages="createUserForm.username.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Email must be between 10 and 100 characters long and look like an e-mail address.
                            </div>
                        </div>
                    </md-input-container>
                    <br>
                    <md-input-container style="width: 95%;margin-left: 15px;margin-right: 15px;">
                        <label>Password</label>
                        <input type="password" id="password" required minlength="5" ng-model="user.password" name="password"
                            size="40"><br>
                        <div ng-messages="createUserForm.password.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength']">
                                Password must be at least 5 characters long.
                            </div>
                        </div>
                    </md-input-container>
                    <br>
                    <button style="margin-left: 15px;" class="md-button md-raised md-primary" ng-disabled="createUserForm.$invalid" ng-click="createUser()" >Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>