<html ng-app="smart-box">

<head>
  <title>Smart Box</title>
  <link rel="stylesheet" type="text/css" href="all.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <script src="all.js"></script>
  <script src="/js/app.js"></script>
</head>

<body ng-controller="BarCtrl">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Smart Box</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">User</a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="margin: 15px;" class="row">
    <div class="col-12 col-xl-6">
      <h2 style="margin-bottom: 15px;">Current cabinet state:</h2>
      <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"
        chart-options="optionsBar"></canvas>
      </canvas>
    </div>
    <div class="col-12 col-xl-6">
      <h2 style="margin-bottom: 15px;">Cabinet state history:</h2>
      <canvas id="line" class="chart chart-line" chart-data="data_xy" chart-labels="labels_xy" chart-series="series_xy"
        chart-options="optionsGraph" chart-click="onClick">
      </canvas>
    </div>
  </div>
  <div style="margin: 30px;" class="row">
    <div class="col-12 offset-xl-3 col-xl-8">
      <h2 style="margin-bottom: 15px;">About the project</h2>
    </div>
    <div class="col-12 offset-xl-3 col-xl-6">
      <p>
        Smart box project aims to create a technical solution that can transform an ordinary office cabinet into a
        "smart"
        cabinet, which allows inventory monitoring within it and gives access to inventory only to authorized users.
      </p>
    </div>
    <div class="col-12 offset-xl-3 col-xl-3">
      <h2 style="margin-bottom: 15px;">Check out the code on Github</h2>
    </div>
    <div class="col-12 col-xl-3 image-holder">
      <button style="margin-left: 15px;" class="md-button md-raised btn-dark"><a target="_blank" href="https://github.com/IvanJuricic/fer_pametna_kutija">Github Frontend</a></button>
      <button style="margin-left: 15px;" class="md-button md-raised btn-dark"><a target="_blank" href="https://github.com/borna-blazevic/fer-smart-box">Github ESP32</a></button>
    </div>
    <div class="col-12 offset-xl-3 col-xl-6">
      <h2 style="margin-bottom: 15px;">Contributors:</h2>
      <div class="row">
        <div class="col-4">
          <div class="person-holder">
            <img class="person" src="/img/person.png" alt="">
            <h5>Borna </h5>
            <h5>Blažević</h5>
          </div>
        </div>
        <div class="col-4">
          <div class="person-holder">
            <img class="person" src="/img/person.png" alt="">
            <h5>Ivan </h5>
            <h5>Juričić</h5>
          </div>
        </div>
        <div class="col-4">
          <div class="person-holder">
            <img class="person" src="/img/person.png" alt="">
            <h5>Emanuel </h5>
            <h5>Pejić</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="person-holder">
            <img class="person" src="/img/person.png" alt="">
            <h5>Kristian </h5>
            <h5>Petanjek</h5>
          </div>
        </div>
        <div class="col-4">
          <div class="person-holder">
            <img class="person" src="/img/person.png" alt="">
            <h5>Karlo </h5>
            <h5>Strbad</h5>
          </div>
        </div>
        <div class="col-4">
          <div class="person-holder">
            <img class="person" src="/img/person.png" alt="">
            <h5>Ivan </h5>
            <h5>Vuger</h5>
          </div>
        </div>
      </div>
      <h2 style="margin-bottom: 15px;">Mentors:</h2>
      <div class="row">
        <div class="col-6">
          <div class="person-holder">
            <img class="person" src="/img/person.png" alt="">
            <h5>izv. prof. dr. sc.</h5>
            <h5>Hrvoje </h5>
            <h5>Džapo</h5>
          </div>
        </div>
        <div class="col-6">
          <div class="person-holder">
            <img class="person" src="/img/person.png" alt="">
            <h5>Ivan </h5>
            <h5>Pavić</h5>
            <h5>mag. ing.</h5>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 offset-xl-3 col-xl-6">
      <h2 style="margin-bottom: 15px;">Technologies used:</h2>
      <h3 style="margin-bottom: 15px;">Web:</h3>
      <div class="row">
        <div class="col-12 col-xl-4 image-holder">
          <img style="width: auto; max-height: 150px;max-width:100%" src="/img/nodejs-new-pantone-black.png" alt="">
        </div>
        <div class="col-12 col-xl-4 image-holder">
          <img style="width: auto; max-height: 150px;max-width:100%" src="/img/express.png" alt="">
        </div>
        <div class="col-12 col-xl-4 image-holder">
          <img style="width: auto; max-height: 150px;max-width:100%" src="/img/AngularJS-Shield-large.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-4 image-holder">
          <img style="width: auto; max-height: 150px;max-width:100%" src="/img/jQuery-Logo.png" alt="">
        </div>
        <div class="col-12 col-xl-4 image-holder">
          <img style="width: auto; max-height: 150px;max-width:100%" src="/img/bootstrap-solid.svg" alt="">
        </div>
        <div class="col-12 col-xl-4 image-holder">
          <img style="width: auto; max-height: 150px;max-width:100%" src="/img/gulp.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-4 image-holder">
          <img style="width: auto; max-height: 150px;max-width:100%" src="/img/html.png" alt="">
        </div>
        <div class="col-12 col-xl-4 image-holder">
          <img style="width: auto; max-height: 150px;max-width:100%" src="/img/css.png" alt="">
        </div>
        <div class="col-12 col-xl-4 image-holder">
          <img style="width: auto; max-height: 150px;max-width:100%" src="/img/js.png" alt="">
        </div>
      </div>
      <h3 style="margin-bottom: 15px;">ESP32:</h3>
      <div class="row">
        <div class="col-12 image-holder">
          <img style="width: auto; max-height: 150px;max-width:100%" src="/img/espressif-logo.svg" alt="">
        </div>
      </div>
    </div>

  </div><div class="mt-5 pt-5 pb-5 footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-xs-12 about-company">
            <h2>Made in cooperation with FER</h2>
            <p class="pr-5 text-white-50">This project was made as a part of the course Project at the Faculty of Electrical Engineering at the University of Zagreb</p>
          </div>
          <div class="col-lg-3 col-xs-12 links">
            <h4 class="mt-lg-0 mt-sm-3">Links</h4>
              <ul class="m-0 p-0">
                <li>- <a target="_blank" href="https://www.fer.unizg.hr/">Faculty of Electrical Engineering at the University of Zagreb</a></li>
                <li>- <a target="_blank" href="http://www.unizg.hr/">University of Zagreb</a></li>
                <li>- <a target="_blank" href="https://docs.espressif.com/projects/esp-idf/en/stable/index.html">ESP-IDF Programming Guide</a></li>
                <li>- <a target="_blank" href="https://github.com/IvanJuricic/fer_pametna_kutija">Github Frontends</a></li>
                <li>- <a target="_blank" href="https://github.com/borna-blazevic/fer-smart-box">Github ESP32</a></li>
              </ul>
          </div>
          <div class="col-lg-4 col-xs-12 location">
            <h4 class="mt-lg-0 mt-sm-4">Location</h4>
            <p>Unska 3, 10000 Zagreb Republika Hrvatska</p>
          </div>
        </div>
        
      </div>
      </div>

</body>

</html>