<html ng-app="smart-box">

<head>
    <title>Smart Box Login</title>
    <link rel="stylesheet" type="text/css" href="/evidencija/all.css">
    <link rel="stylesheet" type="text/css" href="/evidencija/css/app.css">
    <script src="/evidencija/all.js"></script>
    <script src="/evidencija/js/app.js"></script>
</head>

<body ng-controller="LoginController">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Smart Box</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/evidencija/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/evidencija/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/evidencija/user">User</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div style="margin-top: 50px;" class="col-md-6 offset-md-3">
                <h1 style="margin-left: 15px;">Sign in:</h1>
                <form name="loginUserForm" style="margin: 0 auto;">
                    <md-input-container style="width: 95%;margin-left: 15px;margin-right: 15px;">
                        <label>Username</label>
                        <input type="text" id="username" required minlength="10" maxlength="100"
                            ng-pattern="/^.+@.+\..+$/" name="username" size="40" ng-model="user.email">
                        <div ng-messages="loginUserForm.username.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Email must be between 10 and 100 characters long and look like an e-mail address.
                            </div>
                        </div>
                    </md-input-container>
                    <br>
                    <md-input-container style="width: 95%;margin-left: 15px;margin-right: 15px;">
                        <label>Password</label>
                        <input type="password" id="password" required minlength="5" ng-model="user.password"
                            name="password" size="40"><br>
                        <div ng-messages="loginUserForm.password.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength']">
                                Password must be at least 5 characters long.
                            </div>
                        </div>
                    </md-input-container>
                    <br>
                    <button style="margin-left: 15px;" class="md-button md-raised md-primary"
                        ng-disabled="loginUserForm.$invalid" ng-click="loginUser()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>